.authenticationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authentication {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 380px;
    border-radius: 44px;
    background-color: #7ed321;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 120px 10px 50px 10px;
}
.authenticationBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.authentication__label {
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 90px;
}
.authentication__input {
    width: 235px;
    height: 30px;
    border-radius: 7px;
    border: solid 1px #979797;
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-right: 90px;
}
.authentication__input>div {
    border: none;
}
.authentication__input>div>div {
    justify-content: center;
}
.authentication__btnClose {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
}
.authentication__btnSave {
    width: 320px;
    height: 42px;
    border-radius: 25.2px;
    border: solid 2px #ffffff;
    text-transform: capitalize;
    background-color: #7ed321;
    color: white;
    margin-top: 20px;
  }
  @media only screen and (max-width : 640px) {
    .authentication {   
        width: 300px;   
    }

    .authenticationBlock {
        flex-direction: column; 
        width: fit-content;  
        margin-bottom: 20px;
        align-items: flex-start;
    }
    .authentication__btnSave {
        width: 240px;
    }
    .authentication__label {
        margin-left: 0px;
    }
    .authentication__input {
        margin-right: 0px;
    }
  }
