.infoPage-content-wrapper {
    display: flex;
    justify-content: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.infoPage-content {
    margin: 85px 25px 0 25px;
}
.infoPage-content__title {
    color: #7ed321;
    max-width: 89px;
    min-height: 43px;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.infoPage-content__desc {
    max-width: 614px;
    min-height: 191px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    margin: 15px 0;
}