.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 30px 0;
    background-color: #7ed321;
}
.logo {
    width: 147px;
    height: 56px;
    margin-left: 37px;
    object-fit: contain;
}
.headerOptions {
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-right: 55px;
}
.navbar a {
    color: white;
}
.navbar__item {
    color: white;
    height: 16px;
    text-transform: uppercase;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 45px;
    text-align: center;
}
.btn-filter_active {
    width: 39px;
    height: 39px;
    object-fit: contain;
}
.btn-filter {
    width: 26px;
    height: 26px;
    margin: 6px;
    object-fit: contain;
}
.toggleFilter {
    cursor: pointer;
    margin-right: 35px;
}
.toggleMenu {
    display: none;
}
@media only screen and (max-width : 640px) {
    .toggleMenu {
        cursor: pointer;
        display: block;
        margin-right: 25px;
    }
    .navbar {
        display: none;
    }
}