.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 1440px; */
    width: 100%;
    height: 116px;
    background-color: #7ed321;
}
.logo {
    width: 147px;
    height: 56px;
    margin-left: 37px;
    object-fit: contain;
}
.header-navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-navbar__item {
    color: white;
    height: 16px;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 8px;
    text-align: center;
}
.filter_active {
    width: 39px;
    height: 39px;
    margin-right: 39px;
    object-fit: contain;
}
  