.jogsItem {
    display: flex;
    padding: 40px 0;
    min-width: 300px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.jogsItem-info {
    list-style-type: none;
    margin-left: 46px;
    padding: 0;
}
.jogsItem-info__item {
    margin: 6px 0;
}
.jogsItem-info__item_narrow-margin {
    margin: 3px 0;
}
.jogsItem__img {
    cursor: pointer;
}