.filterPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}
.dateForm {
    margin-right: 45px;
}
.dateForm__input {
    cursor: pointer;
    min-width: 100px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 11px;
    border: solid 1px #979797;
    background-color: #ffffff;
}
.dateForm__input>div {
    border: none;
}
.dateForm__input>div>div {
    justify-content: center;
}
.dateForm__input>div>div>span {
    color: white;
}