.jogsPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.jogsPage__btnAdd {
    background-color: white;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
}
.jogsPage__btnAdd_circle {
    border: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
.jogsPage__btnAdd_long {
    position: absolute;
    left: 50%;
    bottom: -150px;
    transform: translate(-50%, 0);
    justify-content: center;
    width: 249px;
    height: 60px;
    border-radius: 36px;
    border: solid 3px #e990f9;
    margin-bottom: 30px;
}
.jogsPage__link {
    color: #e990f9;
    font-size: 18px;
    font-weight: bold;
}